<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.food.mapper.FoodApiLoginMapper">

	<select id="getUsr" resultType="java.lang.String">
		select count(*)
		from food_user
		where store_no = #{storeNo}
		and usr_id = #{usrId}
		and password = #{password}
	</select>

</mapper>